<div class="container">
  <div class="nav-bar">
    <%= link_to 'micro-blog', articles_path %>
    <%= link_to new_article_path do %>
      <i class="material-icons">open_in_new</i>
    <% end %>
  </div>

  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Actions</th>
    </tr>
  
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td>
          <%= link_to article_path(article) do %>
            <i class="material-icons">remove_red_eye</i>
          <% end %>
          <%= link_to edit_article_path(article) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to  article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete_forever</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>