<div class="show-container">
    <div class="show-nav-bar">
        <%= link_to 'micro-blog', articles_path %>
    
        <div>
            <%= link_to edit_article_path(@article) do %>
                <i class="material-icons">edit</i>
            <% end %>
            <%= link_to articles_path do %>
                <i class="material-icons">undo</i>
            <% end %>
        </div>
    </div>
    
    <div class="post-container">
        <strong><%= @article.title %></strong>
        <p>
            <%= @article.text %>
        </p>
    </div>
    
    <%= render @article.comments %>
    <strong>Add a comment:</p>
    <%= render 'comments/form' %>
    </div>
</div>
