<div class="show-container">
    <div class="show-nav-bar">
        <p>
            <%= @article.title %>
        </p>
        <div>
            <%= link_to edit_article_path(@article) do %>
                <i class="material-icons">edit</i>
            <% end %>
            <%= link_to articles_path do %>
                <i class="material-icons">undo</i>
            <% end %>
        </div>
    </div>
    <strong>Post</strong>
    <div class="post-container">
        <p>
            <%= @article.text %>
        </p>
    </div>
    <strong>Comments</strong></br>
    <%= render @article.comments %>
    <strong>Add a comment:</p>
    <%= render 'comments/form' %>
    </div>
</div>
